* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* menu start */

header {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

section {
    /* border: 2px solid rgb(17, 0, 255); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
    margin-bottom: 20px;
}

/* main {
    border: 2px solid rgb(255, 221, 0); 
} */

.menu {
    /* border:2px solid blue; */
    padding: 10px;
    display: flex;
    display: block;


}

.addcart {
    position: absolute;
    top: 17px;
    right: 11px;
}


.menuimg {
    width: 150px;
    height: 100px;

}

.menuimg img {
    width: 100%;
    height: 100%;
    /* border-radius: 50%;
      border:2px solid blue; */
}

ul {
    text-align: center;
    margin-top: 30px;

}

ul>li {
    display: inline;
    margin-left: 15px;


}

li>a {
    text-decoration: none;
    color: #030504
}

a:hover {

    border: 0px 1px;
    border-style: none solid;
    border-color: #aab2ae;
    color: #7cc000;

}

.menu_list {
    display: flex;
    justify-content: center;
}

.menu_list i {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    /* border: 2px solid red; */
    border-radius: 50%;
    padding: 15px;
    background-color: rgba(186, 179, 179, 0.94);
}

#check {
    display: none;
}

.bar {
    display: none;
}

#txt1 {
    animation-name: topbottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#txt2 {
    animation-name: topbottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#txt3 {
    animation-name: topbottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#txt4 {
    animation-name: topbottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes topbottom {
    0% {
        transform: translateX(105px);
        opacity: 0;
    }

    100% {
        transform: translateX(100px);
        opacity: 1;
    }
}


.bgimg {
    width: 100%;
    position: relative;
    width: fit-content;
    /* border:2px solid red */
}

.bgimg img {
    width: 100%;
    height: 100%;
}

.imagewrapper {
    position: absolute;
    top: 50px;
    right: 0;
    animation-name: imagewrapper1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes imagewrapper1 {
    0% {
        transform: translateY(20px);

    }

    100% {
        transform: translateY(30px);

    }
}


.imagewrapper2 {
    position: absolute;
    /* top: 150px; */
    left: 0;
    animation-name: imagewrapper1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.imgmove img {
    animation-name: imagewrapper1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* border:2px solid red; */
    margin-right: 10px;





}


.organicxt {
    position: absolute;
    top: 25vh;
    left: 30vw;
    width: 40vw;
    text-align: center;

}

.organicxt h1 {
    font-size: 50px;

}

.organicxt span {
    animation: text-effect 2s ease-in-out infinite;
}

@keyframes effect {
    0% {
        top: -50px;
    }

    100% {
        top: 100vh;
    }
}

span {
    /* border:2px solid red; */
    padding: 2px;
    border-radius: 50%;
}

.popularlist {
    margin-top: 30px;
    margin-left: 20px;
    /* background-color: #10b523; */
    position: relative;
    text-align: center;
}

.popularlist p {
    padding: 20px;
    color: rgb(12, 12, 12);
}

.popularlist i {
    /* border-radius: 50%; */
    color: rgb(12, 12, 12);

}

.veg_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;


}

.imglist {
    /* border:2px solid red; */
    width: 250px;
    height: 250px;
    position: relative;
    transition: all 2s ease-in-out;



}

.veg_product {
    border: 2px solid #7cc000;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    width: 270px;
    line-height: 28px;
    position: relative;
    /* z-index: -1; */


}




.imglist h4 {
    position: absolute;
    top: 150px;
    right: 90px;
    /* border: 2px solid red; */
    border-radius: 40px;
    padding: 7px 10px;
    background-color: #10b523;
    color: white;
}

.imglist h4:hover {
    background-color: white;
    color: #10b523;
}

.imglist img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(0.8, 0.6);

}



#img1 {
    /* border:2px solid green; */
    border-radius: 50%;
    position: relative;
    box-shadow: 3px 3px 3px 4px rgba(132, 220, 132, 0.937);



}



#img2 {
    box-shadow: 3px 3px 3px 4px rgba(132, 220, 132, 0.937);
    border-radius: 50%;

}


#img3 {
    box-shadow: 3px 3px 3px 4px rgba(132, 220, 132, 0.937);
    border-radius: 50%;
}

#img4 {
    box-shadow: 3px 3px 3px 4px rgba(132, 220, 132, 0.937);
    border-radius: 50%;
}

.imglist {
    position: relative;
    transition-duration: 1s;
}



.imglist img:hover {
    transform: rotateY(200deg);
    transform-origin: top right;
    transition: 2s;
    z-index: -1;
}

.imgtxt {
    position: absolute;
    top: 30%;
    right: 34%;
    color: white;
    z-index: -1;
    width: 100px;
    height: 100px;

}

.imgtxt img {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    padding: 20px;
    background-color: #0c042e;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: image;


}

@keyframes image {
    0% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.fresh_wrapper {
    position: absolute;
    top: 180px;
    left: 80px;
    z-index: -1;
    color: #196c24
}

/* setion end */

.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    background-color: #24582a;
    color: white;
    height: 500px;
    /* margin-top: 20px; */
    position: relative;
    /* border:2px solid red; */
}

.container div {

    line-height: 7vh;
}

/* .container1 {
    border:2px solid blue
} */

.shopbtn>button {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
}

button {
    border: none;
    color: white;
}

button:hover {
    background-color: #24582a;
    color: white;

}

.collectimg {
    width: 200px;
    height: 200px;

}

.collectimg img {
    width: 100%;
    height: 100%;
}

.pickleshape {
    position: relative;
}

.pickleshape2 {
    position: absolute;
    top: 20vh;
    right: 20vw;
}

.imgcollect {
    /* border:2px solid blue; */
    height: 300px;
    width: 200px;
    align-items: center;
    position: relative;
}

.imgcollect img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    /* border:2px solid blue; */
}

.imgcollect img.hover-img {
    opacity: 0;
}

.imgcollect:hover img.hover-img {
    opacity: 1;
}

.imgcollect:hover img.default-img {
    opacity: 0;
}

.addtocatd {
    position: absolute;
    top: 50%;
    right: 40%;
}

.addtocatd i {
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(199, 195, 195);
    margin: 0 5px;
    cursor: pointer;
}

.summary-box {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    z-index: 1000;
}

.summary-box h5 {
    margin-top: 0;
}

.summary-box .fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.largeimg {
    background-image: url('../image/bg2.png');
    text-align: center;
    position: relative;


}

.organic_categories {
    position: absolute;
    top: 30vh;
    left: 20px;
    width: 30vw;
    /* border:2px solid red */
}

.organic_categoriesleft {
    position: absolute;
    top: 30vh;
    right: 0px;
    width: 30vw;
    /* border: 2px solid red */
}

.fresh_items {
    /* border: 2px solid red; */
    position: absolute;
    top: 0px;
    right: 0px;
}



.schedule_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20vh;
    /*    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:2px solid red;
    background-image: url('/image/banner1.png');
    background-color: #befc4bf4;
    padding:40px;
     border:2px solid blue */


}

.features_img {
    /* border:2px solid rgb(255, 21, 0); */
    display: flex;
    padding: 20px;
    /* width:200px; */
    border-radius: 7px;
    height: 35vh;


}

.coloring1 {
    background-color: #80bd44;
    animation-name: box1;
    animation-iteration-count: 1;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    box-shadow: 2px 5px 9px #80bd44;
}

.coloring1:hover {
    transform: scale(0.5, 0.7);
}

@keyframes box1 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.coloring2 {
    background-color: #333333;
    animation-name: box2;
    animation-iteration-count: 1;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    box-shadow: 2px 5px 9px #333333;
}

.coloring2:hover {
    transform: scale(0.5, 0.7);
}

@keyframes box2 {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.coloring3 {
    background-color: #f4de5e;
    animation-name: box3;
    animation-iteration-count: 1;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    box-shadow: 2px 5px 9px #f4de5e;
}

.coloring3:hover {
    transform: scale(0.5, 0.7);
}

@keyframes box3 {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    margin-top: 10px;
    animation-name: btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes btn {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(50deg);
    }

    100% {
        transform: rotateY(100deg);
    }
}

.imgaes {
    width: 150px;
    height: 150px;

    /* border:2px solid rgb(43, 255, 0); */
}


.imgaes img {
    width: 100%;
    height: 100%
}

.text-align {
    line-height: 30px;
    width: 17vw
}

.text-align h3 {
    font-size: 25px;
    color: white;
}

.text-align h4 {
    font-size: 18px;
    color: white;
}

.purches {
    width: 500px;
    height: 500px;
    /* border:2px solid red */
}

.purches img {
    width: 100%;
    height: 100%;
}

.modle {
    width: 200px;

}

.head {
    animation-name: head;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes head {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

.para {
    animation-name: para;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes para {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(0px);
    }

}

.iconbox {
    animation-name: iconbox;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes iconbox {
    0% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(0px);
    }

}



.iconView i {
    display: none;
}


.greenshadow {

    position: absolute;
    top: 20vh;
    left: 30px;
    width: 400px;
    height: auto;
    opacity: 0.8;
    background-color: rgba(154, 154, 154, 0.566);
    line-height: 5vh;
    padding: 20px;
    /* border:2px solid red */
}

.greenshadow p {
    font-size: 20px;
}

p a {
    text-decoration: none;
    color: #030312
}

.nextshadow {
    left: 60vw;
}

.icon {
    text-align: center;
    position: relative;
}

.icon i {


    border-radius: 50%;
    padding: 10px;
    background-color: #b9b9b9;
    color: white;
    width: 50px;
    height: 50px;
}

.img_categories img {
    /* border:2px solid red; */
    border-radius: 50%;
    padding: 15px;
    background-color: white;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* text-align: center; */
    /* border:2px solid rebeccapurple */
    padding: 50px;
    /* border:2px solid blue */
}

.ratewise {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    /* width: 20vw; */
    padding: 20px;
    text-align: center;
}

.ratewise img {
    width: 100%;
    height: 100%;
}

.container3 {
    border: 2px solid rgba(201, 201, 201, 0.786);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /* border:2px solid blue */
}

.order_list {
    /* border: 2px solid rgba(157, 158, 157, 0.922); */
    display: flex;

}

.box {
    display: flex;
}

.prodect_img {
    /* border:2px solid orange; */
    width: 200px;
    height: 200px;
}

.prodect_img img {
    width: 100%;
    height: 100%;
}

.text_align {
    line-height: 30px;
}

.container4 {
    background-image: url('../image/offer5.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    /* border:2px solid blue */

}

.container4 button {
    padding: 10px 15px;
    background-color: #10b523;
    color: white;
    border-radius: 40px;
}

footer {
    display: flex;
    /* border:2px solid red; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-color: #030312;
    color: white;
    margin-top: 10px;
}

.footer {
    background-color: #030312;
    text-align: center;
}

.footerlist {
    /* border:2px solid blue; */
    width: 30vw;
    text-align: left;

}

.footerlist a {
    color: white;
}

.footerlist ul li {
    display: block;
    line-height: 30px;
    color: white;
    text-align: left;
}


/* contact uc */


.form_concept {
    background-image: url('/image/bg2.png');
    padding: 30px;
    text-align: center;
}

input {
    /* border:2px solid red; */
    border: none;
    padding: 20px;
    border-radius: 30px;
    width: 30vw;
    margin-bottom: 30px;
    background-color: #c1c1e0eb;
}

textarea {
    /* border:2px solid red; */
    border: none;
    padding: 20px;
    border-radius: 30px;
    width: 30vw;
    margin-bottom: 30px;
    background-color: #c1c1e0eb;
}

/* prodect */
.shoplist {
    background-image: url('/image/offer5.png');
    background-repeat: no-repeat;

}

/* aboutus */
/* .aboutimg {
    /* border: 2px solid red; 
} */

/* card section */
.content {
    box-shadow: 3px 5px 7px gray;
}

.content:hover {
    box-shadow: 3px 5px 7px rgb(166, 207, 140);
}

.summary-box {
    /* border:2px solid rgb(138, 138, 138); */
    text-align: center;
    box-shadow: 3px 3px 4px rgb(138, 138, 138);
    margin-top: 30px;
    display: none;
}

.summary-box h4 {
    margin-bottom: 10px;
    font-size: 25px;
}

.paybtm {
    padding: 10px 25px;
    color: white;
    background-color: #10b523;
    border-radius: 10px;
}

.menu-label {
    display: none;
}

.bgcolor1 {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

.bgcolor1:hover {
    transform: translateY(50px);
    background-color: rgb(240, 133, 177);
    box-shadow: 5px 5px 5px rgb(90, 91, 89);
}

.bgcolor2 {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

.bgcolor2:hover {
    transform: translateY(50px);
    background-color: rgba(175, 213, 121, 0.937);
    box-shadow: 5px 5px 5px rgb(90, 91, 89);
}

.bgcolor3 {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

.bgcolor3:hover {
    transform: translateY(50px);
    background-color: rgba(227, 167, 149, 0.937);
    box-shadow: 5px 5px 5px rgb(90, 91, 89);
}





/* media query */
@media only screen and (min-width:425px) and (max-width:768px) {



    .hide {
        display: none;
    }

    .bar {
        margin-top: 40px;
    }

    input[type] {
        display: none;
    }

    .menu-label {
        display: block;
    }

    #check:checked+.menu-label+.hide {
        display: block;
    }

    .imgwidth {
        margin-top: 30px;
    }

    .imagewrapper img {
        margin-top: 50px;
    }

    .organicxt h1 {
        position: absolute;
        /* border: 2px solid brown; */
        top: 20cw;
        left: 10vh;
        /* width: 40vw; */
        text-align: center;
    }

    .organic_categories {
        display: none;
    }

    .organic_categoriesleft {
        position: absolute;
        top: 30vh;
        left: 20vw;
        width: 70vw;
        /* overflow: scroll; */
        height: 60vh;


        /* overflow: scroll; */
    }

    .imagewrapper {
        display: none;
    }

    .imagewrapper2 {
        width: 105px;
        height: 150px;
    }


    .container2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* text-align: center; */
        border: 2px solid rebeccapurple;
        padding: 50px;

    }

    .ratewise {
        display: flex;
        justify-content: space-around;
        border-radius: 30px;
        width: 40vw;
        text-align: center;
        margin-left: 70px;

    }

    .text_align {
        line-height: 30px;
        margin-left: 20px;
        padding-top: 20px;
    }

    footer {
        display: flex;
        /* border:2px solid red; */
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px;
        background-color: #030312;
        color: white;
        margin-top: 10px;
        text-align: center;
    }

    .bgimg {
        /* width: 100%; */
        position: relative;
        width: fit-content;
        /* border:2px solid red */
    }

    .bgimg img {
        width: 100%;
        height: 100%;
    }

    .imagewrapper {
        position: absolute;
        top: 150px;
        right: 0;
    }



    .imgwidth {
        width: 100px;
        height: 100px;
    }

    .organicxt {
        position: absolute;
        /* border:2px solid brown; */
        top: 20vh;
        left: 30vw;
        /* width: 40vw; */
        text-align: center;
    }

    .organicxt h1 {
        position: absolute;
        /* border:2px solid brown; */
        top: 40px;
        left: 10px;
    }

    /* prodect */
    .organicxt2 {
        position: absolute;
        /* border:2px solid brown; */
        width: 50vw;
        top: 10px;
        left: 30vw;
        /* width: 40vw; */
        text-align: center;
    }

    .organicxt2 h1 {
        font-size: 10px;

    }

    .organicxt h1 {
        font-size: 20px;
    }

    /* about */


    .content {
        margin-bottom: 20px;
    }

    /* contact */
    .organicxt_contact {
        /* border:2px solid brown; */
        position: absolute;
        /* border:2px solid brown; */
        width: 50vw;
        top: 117px;
        left: 30vw;
        /* width: 40vw; */
        text-align: center;
    }

}

/* dashboard */